<!DOCTYPE html>
<html>

<head>

<title>Reports</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/dashboard.css') }}">

</head>

<body>

<div class="container">

    <!-- Sidebar -->

    <div class="sidebar">

        <h2>🎓 Student Task Manager</h2>

        <ul>

            <li><a href="/dashboard">🏠 Dashboard</a></li>

            <li><a href="/tasks">📚 Tasks</a></li>

            <li><a href="/attendance">📅 Attendance</a></li>

            <li><a href="/analytics">📊 Analytics</a></li>

            <li><a href="/reports">📄 Reports</a></li>

            <li><a href="/profile">👤 Profile</a></li>

            <li><a href="/logout">🚪 Logout</a></li>

        </ul>

    </div>

    <!-- Main Content -->

    <div class="main-content">

        <h1>📄 Reports</h1>

        <br>

        <div class="analytics-box">

            <h2>Download Reports</h2>

            <br>

            <p>

            Generate reports of all tasks.

            </p>

            <br>

            <a href="/report/pdf">

                <button>

                    📄 Download PDF Report

                </button>

            </a>

            <br><br>

            <a href="/report/excel">

                <button>

                    📊 Download Excel Report

                </button>

            </a>

        </div>

    </div>

</div>

</body>

</html>