<!DOCTYPE html>
<html>
<head>

   <title>Teacher Dashboard</title>

    <link rel="stylesheet"
     href="{{ url_for('static',filename='css/dashboard.css') }}">

</head>

<body>

    <div class="container">

        <div class="sidebar">

          <h2>👨‍🏫 Teacher Panel</h2>

            <ul>

              <li><a href="/teacher">Dashboard</a></li>

              <li><a href="/students">Students</a></li>

              <li><a href="/tasks">Tasks</a></li>

              <li><a href="/attendance">Attendance</a></li>

              <li><a href="/files">📂 Files</a></li>

              <li><a href="/reports">Reports</a></li>

              <li><a href="/logout">Logout</a></li>

            </ul>

        </div>

        <div class="main-content">

           <h1>👨‍🏫 Teacher Dashboard</h1>

            <div class="cards">

                <div class="card">

                    <h2>{{ total_students }}</h2>

                    <p>Students</p>
                </div>

                <div class="card">

                    <h2>{{ total_tasks }}</h2>

                    <p>Tasks</p>

                </div>

            </div>

            <h2>Student List</h2>

            <table>

                <tr>

                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>

                </tr>

                {% for student in students %}

                <tr>

                    <td>
                        {{ student.id }}
                    </td>

                    <td>
                        {{ student.username }}
                    </td>

                    <td>
                        {{ student.email }}
                    </td>

                </tr>

                {% endfor %}

            </table>

        </div>

    </div>

</body>
</html>