<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Student Task Manager</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/style.css') }}">

</head>

<body>

<div class="auth-container">

    <!-- LEFT PANEL -->

    <div class="left-panel">

        <h1>
            🎓 Student Task Manager
        </h1>

        <p>

            Organize tasks, manage deadlines,
            track progress, and improve
            productivity with a modern
            student dashboard.

        </p>

        <br>

        <p>

            ✔ Task Tracking

        </p>

        <p>

            ✔ Analytics Dashboard

        </p>

        <p>

            ✔ Calendar View

        </p>

        <p>

            ✔ Reports & Progress

        </p>

    </div>

    <!-- RIGHT PANEL -->

    <div class="right-panel">

        <div class="form-box">

            <h2>Login</h2>

            <form action="/authenticate"
                  method="POST">

                <input
                    type="text"
                    name="username"
                    placeholder="Username"
                    required>

                <input
                    type="password"
                    name="password"
                    placeholder="Password"
                    required>

                <button type="submit">

                    Login

                </button>

            </form>

        </div>

          <p style="margin-top:20px; text-align:center;">
     
               Don't have an account?

                <a href="/register">

                     Create Account

                </a>

            </p>

    </div>

</div>

</body>

</html>