<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Profile</title>

    <link rel="stylesheet"
          href="{{ url_for('static',
          filename='css/dashboard.css') }}">

</head>

<body>

<div class="container">

    <!-- SIDEBAR -->

    <div class="sidebar">

        <h2>🎓 Student Task Manager</h2>

        <ul>

            <li><a href="/dashboard">🏠 Dashboard</a></li>

            <li><a href="/tasks">📚 Tasks</a></li>

            <li><a href="/students">👨‍🎓 Students</a></li>

            <li><a href="/calendar">📅 Calendar</a></li>

            <li><a href="/analytics">📊 Analytics</a></li>

            <li><a href="/attendance">Attendance</a></li>

            <li><a href="/files">📂 Files</a></li>

            <li><a href="/reports">📄 Reports</a></li>

            <li><a href="/profile">👤 Profile</a></li>

            <li><a href="/logout">🚪 Logout</a></li>

        </ul>

    </div>

    <!-- MAIN CONTENT -->

    <div class="main-content">

        <h1>👤 Student Profile</h1>

        <div class="card">

            <h2>{{ user.username }}</h2>

            <br>

            <p>
                📧 Email:
                {{ user.email }}
            </p>

            <br>

            <p>
                🏫 Department:
                {{ user.department }}
            </p>

            <br>

            <p>
                📚 Course:
                {{ user.course }}
            </p>

            <br>

            <p>
                🎖 Role:
                {{ user.role }}
            </p>

        </div>

        <div class="analytics-box">

            <h2>Profile Summary</h2>

            <br>

            <p>
                Username:
                {{ user.username }}
            </p>

            <br>

            <p>
                Department:
                {{ user.department }}
            </p>

            <br>

            <p>
                Course:
                {{ user.course }}
            </p>

            <br>

            <p>
                Account Status:
                Active
            </p>

        </div>

    </div>

</div>

</body>

</html>